.home-container {
  padding: 2rem;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top:3rem;
}

  
  .home-heading {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: var(--black);
    text-shadow: var(--shadow-sm);
    text-align: center;
}

  
  .home-product-container {
    display: flex;
    
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    
    width: 100%;
    max-width: 1200px;
    padding: 0.5rem;
}
  
@media (max-width: 900px) {
  .home-product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 7rem;
}
  
}
